<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
    <div class="container">
        <div class="wrapper">
            Please Enter Your Desired Request: <input type="text" name="userRequest" id="userRequest" />
            <button id="takeAway" onclick="findFoods()" style="margin-bottom: 50px;">Submit Request</button>
        </div>
        <div id="recipes"></div>
    </div>

    <script src="js/script.js"></script>
</body>

</html>