<!DOCTYPE html>
<html>
<head> 
  <title> {{title}} </title>
</head>
<body>
   <h1>{{title}}</h1>
<div> 
   {{#each userEntries}} 
      <p>UserID: {{this.userid}}  Password: {{this.password}}</a></p> 
   {{/each}} 
</div>
</body>
</html>